/* body */
body {
  color: #e3e4e4;
  font-family: 'Chakra Petch', sans-serif;
  margin: 0 auto;
  max-width: 1250px;
  background-color: rgb(12, 12, 51);
  background-image: url(background.jpg);
  opacity: 0.95;
}






h2 {
  color: #e3e4e4
}
/* avatar */
#avatar {
  height: 50px;
  width: 75px;
 ;

}


/* header */

.header a {
  color: #e3e4e4;
  text-decoration: none;
}

#name {
  justify-content: left;
  font-family: 'Permanent Marker';
  font-size: xx-large;
  color: #f07131;

}

.navsec {
  display: flex;
  flex-direction: row;
  background-color:rgb(23, 20, 66) ;
  justify-content: space-evenly;
  padding: 15px;

}

.nav {
  list-style: none;
  justify-content: space-evenly;
}



.nav li {
  display: inline-block;

  margin-right: 60px;
}

.nav a {
  text-decoration: none;
  font-size: x-large;
  color: #e3e4e4;
  font-weight: 600;
}

.nav a:hover {
  color: #f07131;
}
/* Portfolio */
#slideshow {
  position: relative;
  width: 700px;
  height: 500px;
  margin: 80px auto;
  background-color: #f3f3f3;
}

#slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#slideshow img:nth-child(1) {
  opacity: 1;
}




/* Social_media */


#contact {

  position: relative;
  bottom: 0;
  text-align: center;
  background-color: rgb(23, 20, 66);
  color: white;
  padding: 14px;
  display: flex;
  justify-content: space-evenly;
  ;
}

.social-media a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  color: azure;
}

.social-media a:hover {
  color: #f07131;

}

.social-media img {
  width: 40px;
  height: 40px;
  border-radius: 49%;
}

/* Mobile responsiveness for various mobile devices */
@media screen and (max-width: 480px) {

  /* body */
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg);

  }

  h2 {
    font-size: 24px;
  }

  .navbar a {
    position: absolute;
    top: 70px;
    left: 25px;
    padding: 8px 10px;

  }







  /* nav_menu */
  .navsec {
    flex-direction: column;
    align-items: center;
    margin-left: 0;

  }





  .nav {
    display: flex;



  }

  .nav li {
    margin: 0 10px;
    align-items: center;
  }

  .nav a {
    font-size: 16px;
  }
  
  /* slideshow */
  #slideshow {
    position: relative;
    width: 350px;
    height: 250px;
    margin: 80px auto;
    background-color: #f3f3f3;
  }

  #slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  #slideshow img:nth-child(1) {
    opacity: 1;
  }


  /* social-media */
  .social-media {
    padding: 15px;
    justify-content: space-evenly;
  }

  .social-media a {
    font-size: 9px;
  }

  .social-media img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

 

}